.item{
    padding-top: 80px !important;
    
}

#email{
    width: 60%;
    height: 50px !important;
}

.btn-danger{
    height: 50px !important;
}
.text{
    font-size: 13px;

}
svg{
    width: 11px;
    height: 8px;

}

.img-1{
    width: 60%;
    height: auto;
}
.text2{
    font-size: 16px;

}

.img-founder{   
    width: 550px;
    height:auto;
    margin-left: 100px;
    padding-top: 50px;

}
.navbar{
    background-color: white;

}
.item2{ 
    padding-bottom: 50px;
    
}

.d-flex{
    justify-content: space-between !important;
    padding-bottom: 90px !important;

}
.container{
    margin-left:5% !important;
    margin-right: 5% !important;

}

.nameamba {
    float: right;
    height: 0;
    margin-top: -70px;
    margin-right: 5%;
    font-size: medium;
}
.text1{
    font-size: 18px;

}

ul{
    list-style: none;
    padding-bottom: 40px;
    padding-left: 0px;
}

.part3{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;

}
.disappear{
    padding-top: 100px;

}

@media (max-width: 1000px) {
    .disappear{
        display: none;

    }
    .d-flex{
        flex-direction: column;
        justify-content: center;
    }
    .img-founder{
        width: 100%;
        height: auto;

    }
    body{
        padding: 0px;
        text-align: center;
    }
    .item1{
        padding-top : 10px !important;
        padding: 0px;
    }
    .flex2{
        text-align: left !important;

    }

    .flex3{
        padding : 0px;

    }
    .item3{
        padding-top: 50px;

    }
    .container{
        margin-left: 0;
        margin-right: 0;
    }
    .item{
        padding: 0px;
    }
    .flex4{
        padding: 0px !important; 

    }
    .hitem{
        padding-left: 0px !important ;
        padding-right: 0px !important;
    }
    
}

.flex3{
    background-color: #ffd000;
}
.flex4{
    text-align: center;
}

a{
    text-decoration: none;
}
.flex4{
    padding-top: 100px;

}

.hitem{
    text-align: center;
    padding-top: 100px;
    padding-left: 180px;
    padding-right: 180px;
}
h2{
    font-size: 40px;

}

h1{
    padding-bottom: 30px;
}