.item{
    padding-top: 80px !important;
}

.formduc{
    width: 14rem;
    height: 58px;
}

.btn-danger{
    height: 50px !important;
}
.text{
    font-size: 13px;

}
svg{
    width: 11px;
    height: 8px;

}

.img-1{
    width: 60%;
    height: auto;
}

.img-founder{   
    width: 550px;
    height:auto;
    margin-left: 100px;
    padding-top: 50px;

}
.navbar{
    background-color: white;

}
.item2{ 
    padding-bottom: 50px;
    
}

.d-flex{
    justify-content: space-between !important;
    padding-top: 90px !important;

}
.container{
    margin-left:5% !important;
    margin-right: 5% !important;

}

.nameamba {
    float: right;
    height: 0;
    margin-top: -70px;
    margin-right: 5%;
    font-size: medium;
}

@media (max-width: 1000px) {
    .d-flex{
        flex-direction: column;
        justify-content: center;
        padding : 50px;
    }
    .img-founder{
        width: 100%;
        height: auto;

    }
    body{
        text-align: center;
    }
    .item1{
        padding-top : 10px !important;

    }
    .item{
        padding-top: 0px !important;
        
    }
    .container{
        margin-left: 0;
        margin-right: 0;

    }

}



